<section class="content-header">
    <h1>Profile page</h1>
</section>

<section class="content">

    <div class="row">
        <div class="col-sm-6">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Last <strong>{{ activities.length }}</strong> user activities</h3>
                </div>
                <div class="box-body">
                    <ul class="timeline">
                        <li ng-repeat="activity in activitiesList" ng-class="{ 'time-label': activity.view }" ng-click="selectActive(activity)">
                            <span ng-if="activity.view">{{ activity.date | date: 'dd/MM/yyyy' }}</span>

                            <i class="fa fa-envelope bg-blue" ng-if="!activity.view"></i>
                            <div class="timeline-item" ng-if="!activity.view">
                                <span class="time">
                                    <i class="fa fa-clock-o"></i>
                                    {{ activity.date | date: 'dd/MM' }}
                                </span>
                                <h3 class="timeline-header">You spend {{ activity.hours }} hours for {{ activity.category.title }} category</h3>

                                <div class="timeline-body" ng-show="activity.tags.length">
                                    <div>
                                        <span ng-repeat="tag in activity.tags" class="timeline-tag bg-blue">{{ tag.title }}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="box box-warning">
                <location-directive activity="activeActivity"></location-directive>
            </div>
        </div>
    </div>

</section>
