body
  margin 0

a
  text-decoration none
  padding 0

.main-header .logo
  padding 0

.active-circle
  position absolute
  top 10px
  right @top
  width 20px
  height @width
  border-radius 50%

  background rgba(50, 255, 70, .5)
  box-shadow 0 0 10px @background

.timeline-tag
    background rgba(50, 255, 70, .5)
    padding 5px 10px
    margin 0 5px 10px
    display inline-block

//.color
  //width 10px
  //height 10px
